[*.vb]

# BC42105: Function doesn't return a value on all code paths
dotnet_diagnostic.BC42105.severity = suggestion

# BC42104: Variable is used before it has been assigned a value
dotnet_diagnostic.BC42104.severity = silent
